@import "tailwindcss";

@font-face {
    font-family: "Modern Symphony";
    src: url("/fonts/modern-symphony-serif.ttf") format("truetype");
}

@theme {
    --breakpoint-xs: 425px;
    --max-width-8xl: 96rem;
    --font-modern-symphony: "Modern Symphony";
    --font-sans: "Lato", sans-serif;
    --font-montserrat: "Montserrat", sans-serif;
    --color-primary-50: #f8fdf0;
    --color-primary-100: #f1f9e3;
    --color-primary-200: #e2f2c4;
    --color-primary-300: #c9e891;
    --color-primary-400: #addd5a;
    --color-primary-500: #88c919;
    --color-primary-600: #6ea314;
    --color-primary-700: #527a0f;
    --color-primary-800: #37510a;
    --color-primary-900: #1b2905;
}

::selection {
    @apply bg-primary-400;
}

.wave {
    display: inline-block;
    animation: wave 2s ease-in-out infinite;
}

.wave-offset-1 {
    display: inline-block;
    animation: wave 2s ease-in-out infinite;
    animation-delay: -.2923s;
}

.wave-offset-2 {
    display: inline-block;
    animation: wave 2s ease-in-out infinite;
    animation-delay: -.6784s;
}

@keyframes wave {
    0%, 100% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(-10%);
    }
}

.button {
    @apply relative overflow-hidden px-6 inline-flex gap-2 h-12 items-center justify-center rounded-sm text-white bg-primary-500 hover:bg-primary-400 hover:text-black border border-primary-500 font-medium shadow-[0px_2px_4px_0px_rgba(10,13,18,0.1)] shadow-[0px_-3px_0px_0px_rgba(10,13,18,0.1)_inset] shadow-[0px_0px_0px_2px_rgba(10,13,18,0.25)_inset] transition-colors duration-300 [transition-timing-function:cubic-bezier(0.175,0.885,0.32,1.275)] active:translate-y-[1px] cursor-pointer;
}

.button::after {
    @apply content-[''] absolute top-0 -left-[100%] w-[80%] h-full bg-white/40 skew-x-[-20deg] blur-sm transition-all duration-[0.4s] ease-in-out;
}

.button:hover::after {
    @apply left-[150%];
}


.gallery {
    background: #EEE;
}

.gallery-cell {
    width: 66%;
    height: 200px;
    margin-right: 10px;
    background: #8C8;
    counter-increment: gallery-cell;
}

/* cell number */
.gallery-cell:before {
    display: block;
    text-align: center;
    content: counter(gallery-cell);
    line-height: 200px;
    font-size: 80px;
    color: white;
}
