@import "tailwindcss";

@font-face {
    font-family: "Modern Symphony";
    src: url("../fonts/modern-symphony-serif.ttf") format("truetype");
}

@theme {
    --breakpoint-xs: 425px;
    --max-width-8xl: 96rem;
    --font-modern-symphony: "Modern Symphony";
    --font-sans: "Lato", sans-serif;
    --font-montserrat: "Montserrat", sans-serif;
    --color-primary-50: #f9fcf5;
    --color-primary-100: #f2f8ea;
    --color-primary-200: #e4f0d2;
    --color-primary-300: #cfe5b0;
    --color-primary-400: #b8d88b;
    --color-primary-500: #9fca68;
    --color-primary-600: #83a955;
    --color-primary-700: #658243;
    --color-primary-800: #475c31;
    --color-primary-900: #2a361e;
    --animate-wave: wave 2s ease-in-out infinite;

    @keyframes wave {
        0%, 100% {
            transform: translateY(0%);
        }
        50% {
            transform: translateY(-10%);
        }
    }
}

::selection {
    @apply bg-primary-400;
}

.wave {
    @apply inline-block animate-wave;
}

.wave-offset-1 {
    @apply inline-block animate-wave;
    animation-delay: -.2923s;
}

.wave-offset-2 {
    @apply inline-block animate-wave;
    animation-delay: -.6784s;
}

.button {
    @apply relative overflow-hidden px-6 inline-flex gap-2 h-12 items-center justify-center rounded-sm text-white bg-primary-500 hover:bg-primary-400 hover:text-primary-800 border border-primary-500 font-medium shadow-[0px_2px_4px_0px_rgba(10,13,18,0.1)] shadow-[0px_-3px_0px_0px_rgba(10,13,18,0.1)_inset] shadow-[0px_0px_0px_2px_rgba(10,13,18,0.25)_inset] transition-colors duration-300 [transition-timing-function:cubic-bezier(0.175,0.885,0.32,1.275)] active:translate-y-[1px] cursor-pointer;
}

.button::after {
    @apply content-[''] absolute top-0 -left-[100%] w-[80%] h-full bg-white/40 skew-x-[-20deg] blur-sm transition-all duration-[0.4s] ease-in-out;
}

.button:hover::after {
    @apply left-[150%];
}

.link {
    @apply text-primary-500 transition-colors duration-300 hover:text-primary-600;
}
