@import "tailwindcss";

@font-face {
    font-family: "Modern Symphony";
    src: url("/fonts/modern-symphony-serif.ttf") format("truetype");
}

@theme {
    --breakpoint-xs: 425px;
    --font-modern-symphony: "Modern Symphony";
    --font-sans: "Lato", sans-serif;
    --font-montserrat: "Montserrat", sans-serif;
}

::selection {
    @apply bg-sky-600 text-white;
}

.button {
    @apply relative overflow-hidden px-6 inline-flex gap-2 h-12 items-center justify-center rounded-sm text-black bg-sky-500 hover:bg-sky-400 border hover:border-sky-800 border-sky-600 font-medium shadow-[0px_2px_4px_0px_rgba(10,13,18,0.1)] shadow-[0px_-3px_0px_0px_rgba(10,13,18,0.1)_inset] shadow-[0px_0px_0px_2px_rgba(10,13,18,0.25)_inset] duration-150 [transition-timing-function:cubic-bezier(0.175,0.885,0.32,1.275)] active:translate-y-[1px] cursor-pointer;
}

.button::after {
    @apply content-[''] absolute top-0 -left-[100%] w-[80%] h-full bg-white/40 skew-x-[-20deg] blur-sm transition-all duration-[0.4s] ease-in-out;
}

.button:hover::after {
    @apply left-[150%];
}
